.wrapper
  = render 'shared/side_bar'
  .chat-main
    .chat-main__header
      .chat-main__header__edit-btn
        = link_to edit_group_path(@group.id) do
          Edit
      .chat-main__header__group
        = @group.name
      .chat-main__header__member
        Member :
        - @group.users.each do |user|
          %li.chat-main__header__member__name
            = user.name
    .chat-main__messages
      = render @messages
    .chat-main__form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'chat-main__form__message', placeholder: 'type a message'
        .chat-main__form__mask
          = f.label :image, class: 'chat-main__form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'chat-main__form__submit'